#off-transition * {
  transition: none !important;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-weight: 300;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  background-color: #0f1424;
}

h1,
button {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.attribution {
  color: hsl(0deg, 0%, 100%);
  font-size: 10px;
  text-align: center;
  position: fixed;
  top: 40%;
  left: calc(-100% + 17px);
  width: 100%;
  padding: 0 0 10px;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
}
.attribution a {
  color: #e4b2cf;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
@media (max-width: 580px) {
  main {
    display: block;
  }
}
main .wrapper {
  max-width: 1110px;
  padding: 10px 20px;
}
main .dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 25px;
       column-gap: 25px;
  row-gap: 25px;
  max-width: 1300px;
}
@media (max-width: 991px) {
  main .dashboard {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 580px) {
  main .dashboard {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}
main .profile {
  grid-row: 1/3;
  background-color: #1c1f4a;
  border-radius: 15px;
}
@media (max-width: 580px) {
  main .profile {
    margin-bottom: 20px;
  }
}
main .profile__wrapper {
  background-color: #5847eb;
  padding: 40px 30px 70px;
  border-radius: 20px;
}
@media (max-width: 580px) {
  main .profile__wrapper {
    padding: 40px 20px;
  }
}
main .profile__photo {
  width: 80px;
  height: 80px;
  border: 2px solid #fff;
  border-radius: 50px;
  margin-bottom: 40px;
  transition: 500ms;
}
main .profile__photo:hover {
  transform: scale(1.2);
}
main .profile__photo img {
  width: 100%;
}
@media (max-width: 580px) {
  main .profile__photo {
    width: 65px;
    height: 65px;
    margin: -10px 20px 0 10px;
    float: left;
  }
}
main .profile__label {
  opacity: 0.8;
  font-size: 14px;
}
main .profile__name {
  font-weight: 300;
}
@media (max-width: 580px) {
  main .profile__name {
    font-size: 24px;
  }
}
main .profile__navigation {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px 0 25px;
}
@media (max-width: 580px) {
  main .profile__navigation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 0 10px;
  }
}
main .profile__button {
  flex-basis: 100%;
  padding: 10px 0;
  color: #bdc1ff;
  text-align: left;
  font-size: 18px;
  padding-left: 35px;
  cursor: pointer;
}
main .profile__button:hover, main .profile__button.button-active {
  color: #ffffff;
}
@media (max-width: 580px) {
  main .profile__button {
    text-align: center;
    padding-left: 0;
  }
}
main .info {
  border-radius: 15px;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  cursor: pointer;
  transition: 500ms;
}
main .info.work {
  background-color: #ff8c66;
  background-image: url("images/icon-work.svg");
  background-repeat: no-repeat;
  background-position: 90% -5px;
}
main .info.play {
  background-color: #56c2e6;
  background-image: url("images/icon-play.svg");
  background-repeat: no-repeat;
  background-position: 90% -5px;
}
main .info.study {
  background-color: #ff5c7c;
  background-image: url("images/icon-study.svg");
  background-repeat: no-repeat;
  background-position: 90% -5px;
}
main .info.exercise {
  background-color: #4acf81;
  background-image: url("images/icon-exercise.svg");
  background-repeat: no-repeat;
  background-position: 90% -5px;
}
main .info.social {
  background-color: #7536d3;
  background-image: url("images/icon-social.svg");
  background-repeat: no-repeat;
  background-position: 90% -5px;
}
main .info.self-care {
  background-color: #f1c65b;
  background-image: url("images/icon-self-care.svg");
  background-repeat: no-repeat;
  background-position: 90% -5px;
}
@media (max-width: 580px) {
  main .info {
    margin-bottom: 25px;
  }
}
main .info__wrapper {
  background-color: #1c1f4a;
  border-radius: 15px;
  transition: 500ms;
  margin-top: 45px;
  padding: 30px 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .info__wrapper.buttonActive:hover {
  filter: brightness(1);
}
main .info__wrapper.buttonActive:hover img {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
}
main .info__wrapper:hover {
  filter: brightness(1.2);
}
@media (max-width: 580px) {
  main .info__wrapper {
    align-items: center;
    padding: 20px;
  }
}
main .info__label {
  flex-basis: 50%;
}
main .info__button {
  cursor: pointer;
  transition: 500ms;
}
main .info__button img {
  width: 100%;
  transition: 500ms;
}
main .info__button:hover {
  filter: brightness(1.6);
  transition: 500ms;
}
main .info__amount {
  font-size: 50px;
  line-height: 2;
  flex-basis: 100%;
  opacity: 1;
  transition: 500ms;
}
main .info__amount.opacity {
  opacity: 0;
}
@media (max-width: 580px) {
  main .info__amount {
    font-size: 30px;
    flex-basis: 50%;
  }
}
main .info__note {
  font-size: 16px;
  color: #bdc1ff;
}
@media (max-width: 580px) {
  main .info__note {
    font-size: 14px;
    flex-basis: 50%;
    text-align: right;
  }
}/*# sourceMappingURL=style.css.map */