#off-transition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

body {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-weight: 300;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  background-color: #0f1424;
}

h1, button {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.attribution {
  color: hsl(0deg, 0%, 100%);
  font-size: 11px;
  text-align: center;
  width: 100%;
  padding: 0 0 10px;
  position: absolute;
  bottom: 0;
}
.attribution a {
  color: #a33e79;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
main .wrapper {
  max-width: 1110px;
}
main .dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 2.5%;
       column-gap: 2.5%;
  row-gap: 5%;
  max-width: 1300px;
}
main .profile {
  grid-row: 1/3;
  background-color: #1c1f4a;
  border-radius: 15px;
}
main .profile__wrapper {
  background-color: #5847eb;
  padding: 40px 30px 70px;
  border-radius: 20px;
}
main .profile__photo {
  width: 80px;
  height: 80px;
  border: 2px solid #fff;
  border-radius: 50px;
  margin-bottom: 40px;
  transition: 500ms;
}
main .profile__photo:hover {
  transform: scale(1.2);
}
main .profile__photo img {
  width: 100%;
}
main .profile__label {
  opacity: 0.8;
  font-size: 14px;
}
main .profile__name {
  font-weight: 300;
}
main .profile__navigation {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px 0 0 40px;
}
main .profile__button {
  flex-basis: 100%;
  padding: 10px 0;
  color: #bdc1ff;
  text-align: left;
  font-size: 18px;
  cursor: pointer;
}
main .profile__button:hover {
  color: #ffffff;
}
main .info {
  border-radius: 15px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  cursor: pointer;
}
main .info.work {
  background-color: #ff8c66;
  background-image: url("images/icon-work.svg");
  background-repeat: no-repeat;
  background-position: 90% -5px;
}
main .info.play {
  background-color: #56c2e6;
  background-image: url("images/icon-play.svg");
  background-repeat: no-repeat;
  background-position: 90% -5px;
}
main .info.study {
  background-color: #ff5c7c;
  background-image: url("images/icon-study.svg");
  background-repeat: no-repeat;
  background-position: 90% -5px;
}
main .info.exercise {
  background-color: #4acf81;
  background-image: url("images/icon-exercise.svg");
  background-repeat: no-repeat;
  background-position: 90% -5px;
}
main .info.social {
  background-color: #7536d3;
  background-image: url("images/icon-social.svg");
  background-repeat: no-repeat;
  background-position: 90% -5px;
}
main .info.self-care {
  background-color: #f1c65b;
  background-image: url("images/icon-self-care.svg");
  background-repeat: no-repeat;
  background-position: 90% -5px;
}
main .info__wrapper {
  background-color: #1c1f4a;
  border-radius: 15px;
  transition: 500ms;
  margin-top: 45px;
  padding: 30px 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .info__wrapper.buttonActive:hover {
  filter: brightness(1);
}
main .info__wrapper:hover {
  filter: brightness(1.2);
}
main .info__button {
  cursor: pointer;
  transition: 500ms;
}
main .info__button:hover {
  filter: brightness(1.6);
  transition: 500ms;
}
main .info__amount {
  font-size: 50px;
  line-height: 2;
}
main .info__note {
  font-size: 16px;
  color: #bdc1ff;
}/*# sourceMappingURL=style.css.map */