$Very-dark: #0f1424;
$Dark-blue: #1c1f4a;
$Desaturated-blue: #6f76c8;
$Pale-blue: #bdc1ff;

$Blue: #5847eb;
$Light-orange: #ff8c66;
$Soft-blue: #56c2e6;
$Light-red: #ff5c7c;
$Lime-green: #4acf81;
$Violet: #7536d3;
$Soft-orange: #f1c65b;

$Font-family: 'Rubik', sans-serif;
$Font-size: 18px;
$Transition: 500ms;

@mixin general-background-color {
  background-color: $Dark-blue;
}
@mixin general-border-radius {
  border-radius: 15px;
}

body {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-weight: 300;
  font-size: $Font-size;
  font-family: $Font-family;
  background-color: $Very-dark;
}

h1, button {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.attribution { 
  color: hsl(0, 0%, 100%);
  font-size: 11px;
  text-align: center;
  width: 100%;
  padding: 0 0 10px;
  position: absolute;
  bottom: 0;
  a { 
    color: #a33e79; 
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;

  .dashboard {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 3%;
    row-gap: 5%;
    max-width: 1300px;
  }

  .profile {
    grid-row: 1/3;
    @include general-background-color;
    @include general-border-radius;

    &__photo {
      width: 90px;
      height: 90px;
      border: 2px solid #fff;
      border-radius: 50px;
      img {
        width: 100%
      }
    }
  }

  .info {
    @include general-border-radius;
    max-width: 260px;
    /* NOTE: to mixins and var !!! */
    &.work {
      background-color: $Light-orange;
      background-image: url(images/icon-work.svg);
      background-repeat: no-repeat;
      background-position: 90% -5px;
    }
    &.play {
      background-color: $Soft-blue;
      background-image: url(images/icon-play.svg);
      background-repeat: no-repeat;
      background-position: 90% -5px;
    }
    &.study {
      background-color: $Light-red;
      background-image: url(images/icon-study.svg);
      background-repeat: no-repeat;
      background-position: 90% -5px;
    }
    &.exercise {
      background-color: $Lime-green;
      background-image: url(images/icon-exercise.svg);
      background-repeat: no-repeat;
      background-position: 90% -5px;
    }
    &.social {
      background-color: $Violet;
      background-image: url(images/icon-social.svg);
      background-repeat: no-repeat;
      background-position: 90% -5px;
    }
    &.self-care {
      background-color: $Soft-orange;
      background-image: url(images/icon-self-care.svg);
      background-repeat: no-repeat;
      background-position: 90% -5px;
    }
    &__wrapper {
      @include general-background-color;
      @include general-border-radius;
      margin-top: 45px;
      padding: 30px 35px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__button {
      cursor: pointer;
      &:hover {
        filter: brightness(1.4);
        transition: $Transition;
      }
    }
    &__amount {
      font-size: 50px;
      line-height: 2;
    }
    &__note {
      font-size: 16px;
    }
  }
}



